.categoryNotExist {
  color: white;
  margin: 10px;
  font-size: 1.1rem;
  a {
    color: $text-color;
  }
}

.testSpeedExtraWrapper {
  .testSpeedWrapper {
    color: white;
    max-width: 700px;
    margin: 90px auto;

    .customText {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 30px;
      p {
        font-size: 1.1rem;
      }
      textarea {
        outline: none;
        margin: 15px 0;
        border: none;
        background-color: $card-background;
        border-radius: 3px;
        resize: none;
        width: 100%;
        height: 150px;
        color: white;
        padding: 10px;
        font-size: 1.05rem;
      }
      button {
        @extend %button-styles;
        width: fit-content;
      }
      
      .lengthText {
        margin-top: 10px;
        color: $grey-color;
        margin-bottom: 10px;
      }

      #playZone{
        margin-top: 15px;
      }
    }

    .countdown {
      position: absolute;
      font-size: 15rem;
      top: 300px;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      color: $text-color;
    }

    .testWrapper {
      opacity: 0.5;
      filter: blur(2px);

      .neededWrapper {
        input {
          width: 100%;
          height: 45px;
          text-align: start;
          padding-top: 0px;
          margin-bottom: 15px;
          outline: none;
          background-color: $card-background;
          border: none;
          padding: 10px;
          border-bottom: 2px solid $main-color;
          font-size: 1.1rem;
          color: white;
        }
        input::placeholder {
          color: $placeholder-color;
        }
        .quote {
          display: flex;
          margin-bottom: 20px;
          width: 100%;
          word-wrap: break-word;
          flex-wrap: wrap;
          .letter {
            font-size: 1.3rem;
            margin-top: 10px;
            color: rgb(233, 233, 233);
            user-select: none;
          }
          
        }
        .leftInfo {
          float: left;
          margin-right: 15px;
        }
        .rightInfo {
          float: right;
          .timeleft {
            font-size: 1.4rem;
            animation: blinkBlink 1000ms ease-in forwards infinite
              alternate-reverse;
            text-align: end;
          }
          .abandon {
            a {
              color: $grey-color-darker;
              transition: all 350ms linear;
              &:hover {
                color: lightgrey;
              }
            }
          }
        }
        .leftInfo,
        .rightInfo {
          margin-top: 5px;
          font-size: 1rem;
          color: $grey-color-darker;
          p {
            margin-top: 10px;
          }
        }
      }

      .randomTip {
        color: $grey-color-darker;
        font-size: 1.1rem;
        position: relative;
        float: left;
        top: 30px;
      }

      .testOver {
        position: absolute;
        top: 120px;
        left: 50%;
        width: 350px;
        transform: translate(-50%, -50%);
        display: none;
        text-align: center;
        p {
          font-size: 1.3rem;
          color: white;
        }
        .testOverButtons {
          display: flex;
          position: relative;
          top: 20px;
          a button,
          button {
            padding: 0px 8px !important;
            @extend %button-styles;
          }
          a:nth-child(2) {
            margin-left: 30px;
          }
        }
      }

      .result {
        position: relative;
        float: left;
        display: none;
        top: 50px;
        padding-bottom: 50px;
        h1 {
          color: $text-color;
          font-size: 1.5rem;
        }

        p {
          font-size: 1.06rem;
          margin-top: 10px;
          color: $grey-color-darker;
          span {
            color: $text-color;
          }
          a {
            color: $text-color;
          }
        }

        .givenPoints {
          margin-top: 5px;
          color: $grey-color-darker;
          margin-bottom: -5px;
        }
        .infoResult {
          margin-bottom: 25px;
        }
      }
    }
  }
}

@keyframes blinkBlink {
  from {
    color: $grey-color-darker;
  }
  to {
    color: white;
  }
}

@media only screen and (max-width: 770px) {
  .testSpeedExtraWrapper .testSpeedWrapper {
    max-width: unset;
    padding: 0 20px;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .testSpeedExtraWrapper .testSpeedWrapper .testWrapper .testOver .testOverButtons {
    flex-direction: column;
  }
  .testSpeedExtraWrapper
    .testSpeedWrapper
    .testWrapper
    .testOver
    .testOverButtons
    a .homeButton {
    margin-top: 20px;
    margin-left: -37px;
  }
}
